.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 96px;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__counter {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}

// Mobile 768px
@media (max-width: 768px) {
  .carrousel {
    height: 255px;
    border-radius: 10px;

    &__image {
      height: 255px;
    }

    &__counter {
      display: none;
    }

    &__arrow {
      width: 24px;
    }
  }
}