.about-page {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 100%;
}

.collapse-container {
  width: 100%;
  max-width: 1023px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 38px;
}