.cards-container {
  background-color: #F6F6F6;
  border-radius: 25px;
  max-width: 1240px;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 50px 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 50px;
  justify-content: center;
  align-items: center;

  padding: 0;
}

// Mobile 768px
@media (max-width: 768px) {
  .cards-container {
    background: none;
    margin-top: 20px;
    padding: 20px 0;
  }

  .cards-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
  }
}
