.card {
  /* responsive square cards by default */
  width: 100%;
  max-width: 340px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
    cursor: pointer;
  }

  .content {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white;
  }

  span.cards-title {
    font-size: 18px;
    font-weight: 700;
}
}

// Mobile 768px
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    height: 255px;
    margin: 0 auto;
  }
}
