.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .collapse-header {
    background-color: #ff6060;
    color: white;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    z-index: 2;
    font-size: 18px;
    font-weight: 700;

    .collapse-icon {
      transition: transform 0.5s ease;
      &.open {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-content {
    background-color: #f6f6f6;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 1;
    margin-top: -10px;

    p {
      margin: 0;
      padding: 30px 20px 20px 20px;
    }

    ul {
      margin: 0;
      padding: 30px 20px 20px 20px;
    }

    &.open {
      max-height: 800px;
    }
  }
}

// Mobile 768px
@media (max-width: 768px) {
  .collapse {

    .collapse-header {
      height: 30px;
      padding: 10px;
      font-size: 13px;
    }

    .collapse-content {
      p, ul {
        font-size: 12px;
        padding: 20px;
      }
    }
  }
}