// version pour PC

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto 50px auto;
  height: 68px;
  max-width: 1240px;
  width: 100%;

  nav {
    display: flex;
    justify-content: end;
    gap: 57px;

    a {
      font-size: 24px;
      font-weight: 500;
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Mobile 768px
@media (max-width: 768px) {
  header {
    height: 46px;
    margin: 20px auto;

    img {
      width: 145px;
    }

    nav {
      gap: 26px;

      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}