.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    gap: 139px;

    h1 {
        font-weight: 700;
        font-size: 288px;
        line-height: 1.1;
        text-align: center;
        vertical-align: middle;
        margin: 139px 0 0 0;
        color: #FF6060;
        max-width: 597px;
        max-height: 263px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 143%;
        color: #FF6060;
        margin: 0;
        .break-mobile { display: inline; }
    }

    .backToHome {
        font-weight: 500;
        font-size: 18px;
        line-height: 143%;
        text-decoration: underline;
        margin-bottom: 139px;
        cursor: pointer;
        background: none;
        border: none;
    }
}

// Mobile 768px
@media (max-width: 768px) {
    .error404 {
        gap: 113px;

        h1 {
            font-size: 96px;
            margin-top: 113px;
        }

        h2 {
            font-size: 18px;

            .break-mobile {
                display: block;
            }
        }

        .backToHome {
            font-size: 14px;
            margin-bottom: 113px;
        }
    }
}